Package: org.github.henryquan.speeder
Name: speeder
Version: 0.0.1
Architecture: iphoneos-arm
Description: Control the speed and time of apps and games
Maintainer: HenryQuan
Author: HenryQuan
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
